{% extends 'trilhaestudo/base.html' %}
{% load static %}
{% block content %}
<main>
        <div class="galeria">
                <ul class="cards__lista">
                    {% if cards %}
                        {% for materia in cards %}
                        <div class="cards">
                            <li class="card">
                                
                                <img class="card__imagem" src="{% static '/' %}{{materia.url}}" alt="foto">
                                
                                <a href="{% url 'imagem' %}">
                                    <div class="tags__tag">{{materia.nome}}</div>
                                </a>
                            </li>
                        </div>
                        {% endfor %}
                    {% else %}
                    {% endif %}
                </ul>                
        </div>
</main>
</div>
{% endblock %}