{% load static %}
<div class="pagina-inicial">
    <header class="cabecalho">
    </header>
    <main class="principal">
        <section class="menu-lateral">
        
            <nav class="menu-lateral__navegacao">
                <a href="{% url 'index' %}">
                    <i class="fas fa-home"></i> Home
                </a>
            </nav>
            <nav class="menu-lateral__navegacao">
                <a href="{% url 'index' %}">
                    <i class="menu-text fas fa-user"></i>
                    Perfil</a>
            </nav>
            <nav class="menu-text menu-lateral__navegacao">
                <a href="{% url 'index' %}">
                    <i class="fas fa-save"></i> Salvo
                </a>
            </nav>
 
        </section>
